<!DOCTYPE html>

<html lang="en">
  <head>
    <title>CS 235 Flix</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="language"     content="english, en" />
    <meta name="author"             content="Alvin Cheung" />

    <link rel="bookmark" href="favicon.ico" type="image/x-icon" />
    <link rel="icon"     href="favicon.ico" />

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" /> -->
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>

  <body>
    <header class="spaced">
      <a href="/">
        <img id="logo" src="{{ url_for('static', filename='logo.svg') }}"  alt="Logo"/>
      </a>

      <a href="#nav">
        <img id="nav-open" src="{{ url_for('static', filename='nav-open.svg') }}"  alt="Open icon"/>
      </a>

      <nav id="nav">
        <span class="spaced">
          <form action="/search" autocomplete="off" class="search">
              <label>
                <input type="text" placeholder="Search.." name="q" required>
              </label>
              <button type="submit">&#128269</button>
          </form>
          <a href="#" class="nav-close"> x </a>
        </span>

        <!-- nav links -->
        <ul>
          {% if "username" in session %}
            <li><p>Logged in as {{ session['username'] }}</p></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/register">Create account</a></li>
            <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
      </nav>

      <a href="#" class="backdrop" hidden></a>
    </header>

    <div id="content">
      <!-- Main content block to be supplied by page. -->
      {% block content %} {% endblock %}
    </div>
  </body>
</html>