# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\85251\Downloads\COMPSCI notes (AucklandUni)\COMPSCI 235\A2\ache706-235-a2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
